<!DOCTYPE html>
<html lang="ru">
<head>
  <title>RPLMCAPP BACKUPS 78</title>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
  <details open="open">
    <summary>myproject</summary>
    <div class="folder">
      <p><a class="file" href="">app.py</a></p>
      <p><a class="file" href="">package.json</a></p>
      <details open="open">
        <summary>static</summary>
        <div class="folder">
          <p><a class="file" href="">index.css</a></p>
          <p><a class="file" href="">template.css</a></p>
        </div>
      </details>
    </div>
  </details>
</div>
</body>
</html>
